.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;

    border: 5px solid black;
}

.square {
    background-color: bisque;
    border: 2px solid;
    border-color: white;
    transition: 0.2s;
}

.row {
    display: flex;
    flex-direction: row;
}