.container{
    display:flex;
    flex-direction: column;
    width: 1000px;
    height: 1000px;

}

.square{
    background-color:bisque;
    width: 40px;
    height: 40px;
    border: 2px solid black;

}
/*
.square:hover{
    background-color:aquamarine;
    transition: 0.05s;
}
*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  
  @media screen and (min-width: 800px) {
    .square {
      flex: 1;
    }
  }